In [79]:
class andrew():
    def height(self, x):
        return '6ft ' + x + '"'
    
    def weight(self):
        return '12st'
    
    def __str__(self):
        return "nice guy"
    
    title = 'legend'
    print weight()

SyntaxError: invalid syntax (<ipython-input-79-69c31214086a>, line 12)

In [67]:
str(andrew())

'nice guy'

In [68]:
andrew().height('2')

'6ft 2"'

In [69]:
man = andrew()

In [70]:
man.height('3')

'6ft 3"'

In [71]:
man2 = andrew()

In [72]:
man2.height('1') + ' ' + man.height('3')

'6ft 1" 6ft 3"'

In [74]:
man.title = 'no more'
man.title

'no more'

In [75]:
man2.title

'legend'

In [11]:
import requests
import pandas as pd

In [20]:
r = requests.get('http://127.0.0.1:8000/api/combo')
result = r.json()
Question = pd.DataFrame(result['Question'])
Question

   id              pub_date                                      question_text
0   3  2018-03-28T15:46:14Z      Are all review processes for GDPR up to date?
1   2  2018-03-28T13:22:52Z  Have any breaches occurred during the past month?
2   4  2018-03-28T17:18:15Z  Has the data subject agreed in writing for the...

In [21]:
Choice = pd.DataFrame(result['Choice'])
Choice

           choice_text compliance_status  id  question
0                  Yes                 1  10         4
1                   No                 5  11         4
2            Compliant                 1   7         3
3        Not Compliant                 5   8         3
4  Partially Compliant                 2   9         3
5                   No                 1   4         2
6                  Yes                 5   5         2
7            Partially                 2   6         2
8        Partially 75%                 2  13         3